.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background: black;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 19, 19, 0.8);
  z-index: 3;
}

.img-big {
  max-height: 80vh;
  max-width: 80vw;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.img {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.img:hover {
  animation: ZoomWithDelay 1s linear;
  z-index: 1;
  transform: scale(1.2);
}

@keyframes ZoomWithDelay {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.button__wrapper {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.button__download {
  width: 18%;
  background-color: #292929;
  color: #ffa31a;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
}

.button__download:hover {
  transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
  .button__download {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .button__download {
    font-size: 8px;
  }
}

@media only screen and (max-width: 300px) {
  .button__download {
    font-size: 5px;
  }
}
