input {
  margin: auto;
  width: 200px;
  height: 30px;
  color: #ffa31a;
  background: black;
  border: none;
  border-bottom: 1px solid #ffa31a;
}
input:focus {
  border-bottom: 2px solid #ffa31a;
  outline: none;
}
