header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.6rem;
  width: 100%;
  background-color: black;
  display: flex;
  z-index: 2;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logo {
  padding-left: 32px;
  align-self: flex-start;
  object-fit: contain;
  max-height: 5.6rem;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding-bottom: 32px;
    height: auto;
  }

  .logo {
    padding-left: 0;
  }
}
