.App {
  margin-top: 6rem;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.container {
  margin: 24px auto;
}

.loader {
  position: absolute;
  width: 100%;
  color: black;
  bottom: 0;
}

h4 {
  margin: 32px auto;
  width: fit-content;
}
